<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PROCESO</servlet-name>
        <servlet-class>CONTROLADOR.PROCESO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>REGISTRARSE</servlet-name>
        <servlet-class>CONTROLADOR.REGISTRARSE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>COOKIE</servlet-name>
        <servlet-class>CONTROLADOR.COOKIE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PROCESO</servlet-name>
        <url-pattern>/PROCESO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>REGISTRARSE</servlet-name>
        <url-pattern>/REGISTRARSE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>COOKIE</servlet-name>
        <url-pattern>/COOKIE</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           1
        </session-timeout>
    </session-config>
</web-app>
